{
  "Heinz Japan Tomato Ketchup 460g|||HEINZ TOMATO KETCHUP": true,
  "Heinz Japan Tomato Ketchup Pouch Type 400g|||HEINZ TOMATO KETCHUP": true,
  "Heinz Organic Certified Tomato Ketchup, 44 oz., 2 pk.|||HEINZ ORGANIC TOMATO KETCHUP": true,
  "Huy Fong Sriracha Hot Chili Sauce Ketchup 20oz|||SRIRACHA HOT CHILI": true,
  "Huy Fong Sriracha Hot Chili Sauce Ketchup 20oz|||SRIRACHA HOT CHILI(793G)": true,
  "Huy Fong Sriracha Hot Chili Sauce Ketchup 20oz|||SRIRACHA HOT CHILI SAUCE": true,
  "Jif Peanut Butter Extra Crunchy 16 oz|||JIF EXTRA CRUNCHY PEANUT BUTTER": true,

  "Kewpie Mayonnaise 400g|||KEWPIE MASTARD MAYONNAISE": false,
  "Kewpie Mayonnaise 400g|||KEWPIE MAYONNAISE 210": true,
  "Kewpie Mayonnaise Mini Pack 120g (6g x 20)|||KEWPIE MAYONNAISE 210": true,
  "Kewpie Mayonnaise Squeeze, Product of USA, Japanese-Style, Kosher, 12 oz | Authentic Japanese-style mayonnaise in a squeeze bottle, cage-free eggs, kosher, great for sandwiches and dips|||KEWPIE MAYONNAISE 210": true,
  "Kewpie Mustard Mayonnaise 200g|||KEWPIE MAYONNAISE": false,
  "Kewpie Mustard Mayonnaise 200g|||KEWPIE MAYONNAISE 210": false,

  "Kraft Mayo with Avocado Oil Reduced Fat Mayonnaise, 30 fl oz Jar|||KRAFT AVOCADO OIL MAYO": true,
  "Kraft Mayonnaise, Mayo with Avocado Oil, 30 fl oz Jar|||KRAFT AVOCADO OIL MAYO": true,

  "Once Again Organic Crunchy Unsweetened Peanut Butter 16 oz|||ONCE AGAIN ORGANIC CRUNCHY PEANUT BUTTER": true,

  "Mini Peanut Butter Black Sesame Bars – Vegan, Low Sugar, High Protein, Low Calorie, All Natural, Gluten Free – Crunchy Plant Based Snack – 3 Bags with 8 Individually Wrapped Pieces|||CRUNCHY PEANUT BUTTER": false,
  "Mini Peanut Butter Black Sesame Bars – Vegan, Low Sugar, High Protein, Low Calorie, All Natural, Gluten Free – Crunchy Plant Based Snack – 3 Bags with 8 Individually Wrapped Pieces|||PEANUT BUTTER 20": false,
  "Mini Peanut Butter Black Sesame Bars – Vegan, Low Sugar, High Protein, Low Calorie, All Natural, Gluten Free – Crunchy Plant Based Snack – 3 Bags with 8 Individually Wrapped Pieces|||PEANUT BUTTER CRUNCHY": false,
  "Mini Peanut Butter Black Sesame Bars – Vegan, Low Sugar, High Protein, Low Calorie, All Natural, Gluten Free – Crunchy Plant Based Snack – 3 Bags with 8 Individually Wrapped Pieces|||PEANUT BUTTER-CRUNCHY": false,

  "Peanut Butter & Co, Simply Crunchy Peanut Butter Spread, 16 oz, 6 Pack|||PEANUT BUTTER 20": false,
  "Peanut Butter & Co, Simply Crunchy Peanut Butter Spread, 16 oz, 6 Pack|||PEANUT BUTTER&CO_SIMPLY CRUNCHY": true,
  "Peanut Butter & Co, Simply Crunchy Peanut Butter Spread, 16 oz, 6 Pack|||PEANUT BUTTER CRUNCHY": false,
  "Peanut Butter & Co, Simply Crunchy Peanut Butter Spread, 16 oz, 6 Pack|||PEANUT BUTTER-CRUNCHY": false,

  "SKIPPY Creamy Peanut Butter Individual Squeeze Packs, 1.15 oz | 64 Individual Peanut Butter Packets|||SKIPPY PEANUT BUTTER CREAMY": true,
  "SKIPPY Creamy Peanut Butter Individual Squeeze Packs, 1.15 oz | 64 Individual Peanut Butter Packets|||SKIPPY SQUEEZE CREAMY PEANUT BUTTER": true,
  "SKIPPY Creamy Peanut Butter, 40 Ounce|||SKIPPY PEANUT BUTTER CREAMY": true,
  "SKIPPY Natural Creamy Peanut Butter, 7 g Protein Per Serving, 40 Ounce|||SKIPPY CREAMY PEANUT BUTTER": true,
  "SKIPPY Natural Creamy Peanut Butter, 7 g Protein Per Serving, 40 Ounce|||SKIPPY PEANUT BUTTER CREAMY": true,
  "SKIPPY Natural SUPER CHUNK Peanut Butter Spread, 7 g Protein Per Serving, 40 oz. | 7 g Protein Per Serving|||SKIPPY SUPER CHUNK PEANUT BUTTER": true,
  "SKIPPY Peanut Butter, Creamy, 16.3 Ounce (Pack of 12) | 7 g protein per serving|||SKIPPY CREAMY PEANUT BUTTER": true,
  "SKIPPY Reduced Fat SUPER CHUNK Extra Crunchy Peanut Butter, 16.3 Ounce|||SKIPPY SUPER CHUNK PEANUT BUTTER": false,
  "SKIPPY SUPER CHUNK Extra Crunchy Peanut Butter, 64 Ounce|||SKIPPY SUPER CHUNK PEANUT BUTTER": true,
  "SKIPPY SUPER CHUNK Reduced Fat Peanut Butter Spread, Shelf-Stable, 16.3 oz Plastic Jar|||SKIPPY SUPER CHUNK PEANUT BUTTER": false,
  "SKIPPY Squeeze Natural Creamy Peanut Butter, 6 Ounce (Pack of 6)|||SKIPPY CREAMY PEANUT BUTTER": true,
  "SKIPPY Squeeze Natural Creamy Peanut Butter, 6 Ounce (Pack of 6)|||SKIPPY PEANUT BUTTER CREAMY": true,
  "SKIPPY Squeeze Natural Creamy Peanut Butter, 6 Ounce (Pack of 6)|||SKIPPY SQUEEZE CREAMY PEANUT BUTTER": true,
  "Skippy Extra Crunchy Peanut Butter Super Chunk Twin Pack Two 48 Ounce Jars - pack of 2|||SKIPPY SUPER CHUNK PEANUT BUTTER": true,

  "SNICKERS Original, Peanut Butter & Almond Bulk Variety Pack Fun Size Chocolate Candy Bar Assortment, 44.5 oz, 60 Pieces Bag|||SNICKERS ALMOND FUN SIZE BULK": true,
  "SNICKERS Original, Peanut Butter & Almond Bulk Variety Pack Fun Size Chocolate Candy Bar Assortment, 44.5 oz, 60 Pieces Bag|||SNICKERS (FUN SIZE)": true,
  "SNICKERS Original, Peanut Butter & Almond Bulk Variety Pack Fun Size Chocolate Candy Bar Assortment, 44.5 oz, 60 Pieces Bag|||SNICKERS FUN SIZE": true
}
